@font-face {
    font-family: TrueType;
    src: url('fuente/Game-Of-Squids.ttf');
}
*{
    font-family: TrueType;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./imagenes/fondo-lista.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
}
.img-absoluta{
    position:absolute;
    top: 0;
    right: 0;
    width: 40%;
    height: 40%;
    -webkit-animation: circle 6s infinite linear;
    animation: circle 6s infinite linear;
}

@-webkit-keyframes circle{
    0%{
        transform: rotate(0deg); transform-origin: top;
    }
    25%{
        transform: rotate(20deg); transform-origin: top;
    }
    50%{
        transform: rotate(0deg);transform-origin: top;
    }
    75%{
        transform: rotate(-20deg); transform-origin: top;
    }
    100%{
        transform:rotate(0deg);transform-origin: top;
    }
}
.play{
    background-color: #AF1212;
    color: white;
    border-radius: 30%;
    width: 60px;
    height: 30px;
    text-align: center;
}
.titulo{
    color: white;
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.namePlayer {
    width: 50%;
    position: relative;
}

.namePlayer input{
    background: transparent;
    border: #AF1212 solid;
    width: 100%;
    color: white;
}
.namePlayer i{
    color: #AF1212;
    position: absolute;
    right: 7%;
    top: 23%;
}
.boxList {
    width: 80%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: transparent;
    border: 2px solid #AF1212;
    border-radius: 5px;
    margin: auto;
}

.containerPlayers {
    display: flex;
    background-color: transparent;
    height: 70%;
    justify-content: center;
    width: 90%;
    border-radius: 5px;
    color: white;
    overflow-y: scroll;
    font-size: 0.8rem;
}

.list{
    width: 90%;
}
.itemList {
    margin: 2vh 0;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: white;
}
.player_delete {
    cursor: pointer;
    transition: 0.3s;
}
.player_delete:hover {
    transition: 0.3s;
    transform: scale(1.2);
}
.player_name {
    width: 85%;
    position: relative;
    padding-bottom: 0.9vh;
    letter-spacing: 2px;
}
.playersName::after {
    content: "";
    width: 100%;
    height: 1px;
    left: 0;
    background-color: white;
    position: absolute;
    bottom: 0;
}
.form-control{
    background-color: transparent;
    border: #AF1212 solid;
    width: 90%;
    height: 150px;
    margin-bottom: 5px;
    text-align: center
}
.playOverride{
    text-align: center;
    margin-top: 30px;
}
    

@media screen and (max-width: 480px) and (orientation:landscape) {
    .titulo{
        margin-right: 20%;
        text-align: center;
    }
    .namePlayer input{
        width: 85%;
        margin-left: 5%;
    }
    .namePlayer i{
        right: 16%;
        top: 8%
    }
    label{
        display: flex;
    }
    .list-player{
        margin-right:15%;
    }
    
    .img-absoluta{
        width: 25%;
        height: 60%;
    }
    .playOverride{
        display: flex;
        justify-content: center;
        margin-top:-5px;
        
    }
    .img-absoluta{
        width: 40%;
        height: 40%;
}
    .container_list {
        margin-bottom: 5%;
        border: #AF1212 solid;
    }
}

@media screen and (max-width: 768px){
    
}